@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
    font-family: 'Noto Sans KR', sans-serif;
    padding: 0px;
    margin: 0px;
    color: white;
}

.short {
    text-align: center;
    font-size: 48em;
    padding: 0%;
    margin: 0%;
    line-height: 1em;
}

.long {
    text-align: center;
    font-size: 24em;
    padding: 0%;
    margin: 0%;
    line-height: 1em;
}


.time {
    text-align: center;
    font-size: 3em;
    padding: 0%;
    margin: 0%;
}
